.gameBoard {
    display: grid;
    place-content: center;
    padding: 10px;
    background-color: lightgray;
    margin: auto;
    width: 50%;
}

.row {
    display: flex;
}

.box {
    background-color: lightblue;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    align-content: center;
}

.box:hover {
    cursor: pointer;
}

.box.active {
    background-color: lightgoldenrodyellow;
}