#your_letters {
    float: left;
}

.score_container {
    float: right;
    margin-right: 15px;
    text-align: center;
}

.player_score_container {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 14px;
    padding: 3px;
}

.player_score_container.winner {
    background-color: lightgreen;
}

.letter_container {
    margin-left: 15px;
    text-align: left;
}

.player_letters {
    display: flex;
}

.tiles {
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    place-content: center;
    background-color: lightgoldenrodyellow;
    margin: 5px;
    font-size: 1.5rem;
}

.tiles:hover {
    cursor: pointer;
}

.tiles.selected {
    width: 40px;
    height: 40px;
    border: 5px solid green;
}

.hidden {
    visibility: hidden;
}

.turn_container {
    text-align: center;
}

.turn_button { 
    margin: 6px;
}

#end {
    background-color: indianred;
}